# Gradle
.gradle
build/
.DS_Store

# IDEA
.idea
*.ipr
*.iws
*.iml


# Eclipse
.classpath
.project
.settings

# JRebel
tools/jrebel/licensing.info

*.log

Gemfile.lock
Gemfile.bernd.lock
/bin/

# typescript
.tscache/
src/main/typescript/tmp/
static/js/casino.js
static/resources/
src/main/typescript/.baseDir.ts

# node.js
node_modules/
typings/
coverage/

# terraform
.terraform/
terraform.tfstate*
